{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Stock</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/stock/inventory.css' %}">
</head>

<body>

    <!-- NAVIGATION SIDE BAR / NAVBAR STARTS -->
    {% include 'components/navbar.html' %}
    <!-- NAVIGATION SIDE BAR / NAVBAR ENDS -->

    <!-- MAIN STARTS -->
    <main>

        <header class="collapsable" data-scrollable="inventory_overview_sec">
            <h1>Inventory</h1>
            <div class="subtitle" style="text-align: right;">
                <div class="fs-200">Last updated</div>
                <span class="date-last-updated" style="color: var(--clr-black);"> 01 Aug, 2024</span>
            </div>
        </header>

        <!-- MAIN CONTENT STARTS -->
        <section class="main-content" id="inventory_overview_sec">

            <!-- Stock Overview Section Starts -->
            <section class="stock-overview-sec">
                <h2>Stock Overview</h2>
                <!-- Chart Column -->
                <div class="col-left">
                    <!-- Donut Chart -->
                    <div id="overview_donut_chart"></div>
                    <div>
                        <strong id="overview_product_count"></strong>
                        <div class="subtitle">Products</div>
                    </div>
                </div>
                <!-- Index Column -->
                <div class="col-right">
                    <!-- Available -->
                    <div class="overview-chart-index-item">
                        <span class="color-dot" style="background-color: var(--clr-primary-dark);"></span>
                        <span id="overview_product_in_stock_count"></span>
                    </div>
                    <!-- Low Stock -->
                    <div class="overview-chart-index-item">
                        <span class="color-dot" style="background-color: var(--clr-primary-light);"></span>
                        <span id="overview_product_low_stock_count"></span>
                    </div>
                    <!-- Out of Stock -->
                    <div class="overview-chart-index-item">
                        <span class="color-dot" style="background-color: var(--clr-grey-divider);"></span>
                        <span id="overview_product_out_of_stock_count"></span>
                    </div>

                    <!-- Note and Edit warning limit link -->
                    <p class="subtitle" style="margin: 1.6rem 0; max-width: 35ch;">Stocks are considered to be low in
                        quantity when there are <b>less than 5 items</b> available. <a href="{% url 'settings' %}"
                            class="text-link">Edit Limit.</a></p>
                </div>
            </section>
            <!-- Stock Overview Section Ends -->

            <!-- Expiration Overview Section Starts -->
            <section class="expiration-overview-sec">
                <h2>Expiration Overview</h2>

                <div class="expiry-card-box">
                    <!-- Expired Products -->
                    <div>
                        <span><svg class="icon">
                                <use href="{% static 'assets/icon-sprite.svg' %}#warn-protection" />
                            </svg></span>
                        <strong id="overview_expired_count" class="safe">00</strong>
                        <span>Products<br>Has been Expired</span>
                    </div>

                    <!-- Expiry Soon Products -->
                    <div>
                        <span><svg class="icon">
                                <use href="{% static 'assets/icon-sprite.svg' %}#warn" />
                            </svg></span>
                        <strong id="overview_expiry_soon_count" class="safe">10</strong>
                        <span>Products<br>About to expire</span>
                    </div>
                </div>


                <!-- Note and Edit warning limit link -->
                <p class="subtitle" style="margin-top: 1.6rem;"> You are warned about expiry <b>before 5 days</b>. <a href="{% url 'settings' %}"
                        class="text-link">Edit Limit.</a></p>

            </section>
            <!-- Expiration Overview Section Ends -->

            <section class="financial-overview-sec"></section>
        </section>
        <!-- MAIN CONTENT ENDS -->
    </main>
    <!-- MAIN ENDS -->

    <!-- ADD NEW SELLER FORM STARTS -->
    <form action="" method="post" id="add_new_seller_form" name="add_new_seller_form"
        data-dialog-id="add_new_seller_form" aria-hidden="true" novalidate>
        <fieldset>
            <label for="new_seller_name">Seller Name</label>
            <input type="text" id="new_seller_name" name="new_seller_name" required class="text-input"
                pattern="^[a-zA-Z0-9_.,\s-]+$" placeholder="Seller's personal or market name">
        </fieldset>
        <fieldset>
            <label for="new_seller_phone">Phone Number</label>
            <input type="text" id="new_seller_phone" name="new_seller_phone" class="text-input"
                placeholder="10 digit contact number" required inputmode="numeric" pattern="^\d{10}$">
        </fieldset>
    </form>
    <!-- ADD NEW SELLER FORM ENDS -->

    <!-- EXISTING PRODUCTS LIST STARTS -->
    {% include 'components/product-name-list.html' %}
    <!-- EXISTING PRODUCTS LIST ENDS -->

    <!-- BRAND LIST STARTS -->
    {% include 'components/product-brand-list.html' %}
    <!-- BRAND LIST ENDS -->

    <!-- PRODUCT TYPES DATA LIST STARTS -->
    {% include 'components/product-type-list.html' %}
    <!-- PRODUCT TYPES DATA LIST ENDS -->

    <!-- SELLER DATA LIST STARTS -->
    {% include 'components/product-seller-list.html' %}
    <!-- SELLER DATA LIST ENDS -->



    <!-- SCRIPT -->
    <script type="module" src="{% static 'script/main.js' %}"></script>
    <script type="module" src="{% static 'script/stock-inventory.js' %}"></script>

</body>

</html>