{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Stock</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/stock/new.css' %}">
</head>

<body>

    <!-- NAVIGATION SIDE BAR / NAVBAR STARTS -->
    {% include 'components/navbar.html' %}
    <!-- NAVIGATION SIDE BAR / NAVBAR ENDS -->

    <!-- MAIN STARTS -->
    <main>

        <!-- Header Starts -->
        <header class="center-mobile">
            <!-- Header content -->
            <h1 class="fs-600">Add New Stocks</h1>
            <!-- Today's date -->
            <p class="nowrap">
                <svg class="icon">
                    <use href="{% static 'assets/icon-sprite.svg' %}#calendar-date" />
                </svg>
                <span class="date-day-num"></span> <span class="date-month"></span><span class="date-year"></span>
            </p>
        </header>
        <!-- Header Ends -->

        <!-- MAIN CONTENT STARTS -->
        <section class="main-content">

            <!-- PRODUCT LIST SECTION STARTS -->
            <section class="new-product-list-sec">

                <div class="info-box">
                    <p class="subtitle">
                        Ensure that all the fields for each of the product being added are <b>required</b>. Please
                        double-check all product information before saving. This will help prevent errors and ensure the
                        smooth addition of new stock items.
                    </p>
                </div>

                <!-- PRODUCT LIST -->
                <form class="new-product-list product-form" id="new_product_list">

                    <div class="new-product">
                        <div class="information">
                            <fieldset>
                                <label for="product_name_1">Name</label>
                                <input type="text" class="text-input name" id="product_name_1" name="product_name_1">
                            </fieldset>

                            <fieldset>
                                <label for="product_brand_1">Brand</label>
                                <input type="text" class="text-input" id="product_brand_1" name="product_brand_1">
                            </fieldset>

                            <fieldset>
                                <label for="product_type_1">Product Type</label>
                                <input type="text" class="text-input" id="product_type_1" name="product_type_1">
                            </fieldset>
                        </div>
                        <div class="date">
                            <fieldset>
                                <label for="product_date_manufacture_1">Manufacture Date</label>
                                <input type="date" class="text-input" id="product_date_manufacture_1"
                                    name="product_date_manufacture_1">
                            </fieldset>

                            <fieldset>
                                <label for="product_date_expiry_1">Expiry Date</label>
                                <input type="date" class="text-input" id="product_date_expiry_1"
                                    name="product_date_expiry_1">
                            </fieldset>

                            <p class="note info subtitle">Make sure the expiry date is correct.</p>
                        </div>
                        <div class="rate">
                            <fieldset>
                                <label for="product_wholesale_price_1">Wholesale Price</label>
                                <div class="icon-frame">
                                    <span class="lead">₹</span>
                                    <input type="text" class="text-input" id="product_wholesale_price_1"
                                        name="product_wholesale_price_1" placeholder="0.0">
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="product_selling_price_1">Selling Price</label>
                                <div class="icon-frame">
                                    <span class="lead">₹</span>
                                    <input type="text" class="text-input" id="product_selling_price_1"
                                        name="product_selling_price_1" placeholder="0.0">
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="product_quantity_1">Quantity</label>
                                <input type="text" class="text-input" id="product_quantity_1" name="product_quantity_1"
                                    placeholder="00">
                            </fieldset>
                        </div>
                        <div class="product-options">
                            <button class="icon negative">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#delete" />
                                </svg>
                            </button>

                            <button class="text">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#stock-add-existing" />
                                </svg>
                                Add to Existing
                            </button>
                        </div>
                    </div>

                </form>


                <!-- ADD PRODUCT BUTTONS -->
                <div class="btn-box">
                    <button class="primary">
                        <svg class="icon">
                            <use href="{% static 'assets/icon-sprite.svg' %}#stock-add-existing" />
                        </svg>
                        Add to Existing
                    </button>

                    <button class="primary">
                        <svg class="icon">
                            <use href="{% static 'assets/icon-sprite.svg' %}#stock-add" />
                        </svg>
                        Add new Product
                    </button>
                </div>

            </section>
            <!-- PRODUCT LIST SECTION ENDS -->

            <!-- SIDE OPTIONS START -->
            <aside>

                <section class="aside-body side-options">

                    <header class="mobile-only">
                        <h2 class="fs-400 center-mobile">Save Stocks</h2>
                        <button class="icon mobile-only" style="margin-left: auto;">
                            <svg class="icon">
                                <use href="{% static 'assets/icon-sprite.svg' %}#cross" />
                            </svg>
                        </button>
                    </header>

                    <div class="aside-content">

                        <menu>
                            <button class="menu-item">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#stock-add-existing" />
                                </svg>
                                Add to Existing
                            </button>

                            <button class="menu-item">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#stock-add" />
                                </svg>
                                Add new Product
                            </button>
                        </menu>
                        <menu>
                            <button class="menu-item">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#upload" />
                                </svg>
                                Upload CSV File
                            </button>
                        </menu>

                        <div class="divider"></div>
                        <menu>
                            <p><b class="gradient-accent" id="item_count">0 Items listed</b></p>
                            <button class="menu-item primary">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#check" />
                                </svg>
                                Save this Batch
                            </button>

                            <p class="subtitle">You can save up to 5 products per batch to avoid data loss. You may
                                change this limit in <a href="{% url 'settings' %}" class="text-link">Settings</a>.</p>
                        </menu>



                        <div class="divider"></div>

                        <menu>

                            <button class="menu-item">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#file-pdf" />
                                </svg>
                                Save as PDF
                            </button>
                            <button class="menu-item">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#printer" />
                                </svg>
                                Print
                            </button>
                        </menu>
                    </div>
                </section>

            </aside>
            <!-- SIDE OPTIONS ENDS -->


        </section>
        <!-- MAIN CONTENT ENDS -->


    </main>
    <!-- MAIN ENDS -->

    <!-- SCRIPT -->
    <script type="module" src="{% static 'script/main.js' %}"></script>
</body>

</html>