{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Stock</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/stock/new.css' %}">
</head>

<body>

    <!-- NAVIGATION SIDE BAR / NAVBAR STARTS -->
    {% include 'components/navbar.html' %}
    <!-- NAVIGATION SIDE BAR / NAVBAR ENDS -->

    <!-- MAIN STARTS -->
    <main>

        <!-- Header Starts -->
        <header class="center-mobile">
            <!-- Header content -->
            <h1 class="fs-600">Add New Stocks</h1>
            <!-- Today's date -->
            <p class="nowrap">
                <svg class="icon">
                    <use href="{% static 'assets/icon-sprite.svg' %}#calendar-date" />
                </svg>
                <span class="date-day-num"></span> <span class="date-month"></span><span class="date-year"></span>
            </p>
        </header>
        <!-- Header Ends -->

        <!-- MAIN CONTENT STARTS -->
        <section class="main-content">

            <!-- PRODUCT LIST SECTION STARTS -->
            <section class="new-product-list-sec">

                <div class="info-box">
                    <p class="subtitle">
                        Ensure that all the fields for each of the product being added are <b>required</b>. Please
                        double-check all product information before saving. This will help prevent errors and ensure the
                        smooth addition of new stock items.
                    </p>
                </div>

                <!-- PRODUCT LIST STARTS -->
                <form class="new-product-list product-form" id="new_product_list" method="post" action="" novalidate
                    onkeydown="if(event.keyCode === 13) {event.preventDefault()}">
                    {% csrf_token %}
                </form>
                <!-- PRODUCT LIST ENDS -->

                <!-- ADD PRODUCT BUTTONS -->
                <div class="btn-box">

                    <button class="primary new-product-btn">
                        <svg class="icon">
                            <use href="{% static 'assets/icon-sprite.svg' %}#stock-add" />
                        </svg>
                        Add new Product
                    </button>

                    <button class="text negative" id="delete_all_products"><svg class="icon">
                            <use href="{% static 'assets/icon-sprite.svg' %}#refresh" />
                        </svg> Delete All</button>
                </div>

            </section>
            <!-- PRODUCT LIST SECTION ENDS -->

            <!-- SIDE OPTIONS START -->
            <aside>

                <section class="aside-body side-options">

                    <header class="mobile-only">
                        <h2 class="fs-400 center-mobile">Save Stocks</h2>
                        <button class="icon mobile-only" style="margin-left: auto;">
                            <svg class="icon">
                                <use href="{% static 'assets/icon-sprite.svg' %}#cross" />
                            </svg>
                        </button>
                    </header>

                    <div class="aside-content">

                        <menu>
                            <button class="menu-item new-product-btn">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#stock-add" />
                                </svg>
                                Add new Product
                            </button>
                        </menu>

                        <div class="divider"></div>
                        <menu>
                            <button class="menu-item">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#upload" />
                                </svg>
                                Upload CSV File
                            </button>
                        </menu>

                        <div class="divider"></div>
                        <menu>
                            <p><b class="gradient-accent" id="item_count">0 Items listed</b></p>
                            <button class="menu-item primary" id="save_batch_btn">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#check" />
                                </svg>
                                Save this Batch
                            </button>

                            <p class="subtitle">You can save up to 5 products per batch to avoid data loss. You may
                                change this limit in <a href="{% url 'settings' %}" class="text-link">Settings</a>.</p>
                        </menu>

                        <div class="divider"></div>

                        <menu>
                            <button class="menu-item" id="add_new_seller_btn">
                                <svg class="icon">
                                    <use href="{% static 'assets/icon-sprite.svg' %}#seller" />
                                </svg>
                                Add New Seller
                            </button>
                        </menu>

                    </div>
                </section>

            </aside>
            <!-- SIDE OPTIONS ENDS -->


        </section>
        <!-- MAIN CONTENT ENDS -->


    </main>
    <!-- MAIN ENDS -->

    <!-- EXISTING PRODUCTS LIST STARTS -->
    <div class="datalist" id="existing_products">
        <ul class="datalist-body">
            <li data-product-id="prod-12345">Paracetamol tablets</li>
            <li data-product-id="prod-67890">Contact lens solution</li>
            <li data-product-id="prod-abc123">Antiseptic cream</li>
            <li data-product-id="prod-def456">Sunscreen lotion</li>
            <li data-product-id="prod-ghi789">Diapers</li>
            <li data-product-id="prod-jkl012">Cough syrup</li>
            <li data-product-id="prod-mno345">Pregnancy test kit</li>
            <li data-product-id="prod-pqr678">Toothbrush</li>
            <li data-product-id="prod-stu901">Insulin pen</li>
            <li data-product-id="prod-vwx234">Hair growth shampoo</li>
        </ul>
    </div>
    <!-- EXISTING PRODUCTS LIST ENDS -->

    <!-- PRODUCT TYPES DATA LIST STARTS -->
    {% include 'components/product_list.html' %}
    <!-- PRODUCT TYPES DATA LIST ENDS -->

    <!-- SELLER DATA LIST STARTS -->
    <div class="datalist" id="seller_list">
        <ul class="datalist-body">
            <li>MedPlus Distributors</li>
            <li>CareRx Pharmaceuticals</li>
            <li>Lifecare Pharmacies</li>
            <li>Zenith Healthcare</li>
            <li>Global Meds Supply</li>
            <li>PharmaServe Solutions</li>
            <li>Wellbeing Pharma</li>
        </ul>
    </div>
    <!-- SELLER DATA LIST ENDS -->

    <!-- ADD NEW SELLER FORM STARTS -->
    <form action="" method="post" id="add_new_seller_form" name="add_new_seller_form"
        data-dialog-id="add_new_seller_form" aria-hidden="true" novalidate>
        <fieldset>
            <label for="new_seller_name">Seller Name</label>
            <input type="text" id="new_seller_name" name="new_seller_name" required class="text-input"
                pattern="^[a-zA-Z0-9_.,\s-]+$" placeholder="Seller's personal or market name">
        </fieldset>
        <fieldset>
            <label for="new_seller_phone">Phone Number</label>
            <input type="text" id="new_seller_phone" name="new_seller_phone" class="text-input"
                placeholder="10 digit contact number" required inputmode="numeric" pattern="^\d{10}$">
        </fieldset>
    </form>
    <!-- ADD NEW SELLER FORM ENDS -->

    <!-- SCRIPT -->
    <script type="module" src="{% static 'script/main.js' %}"></script>
    <script type="module" src="{% static 'script/stock-new.js' %}"></script>
    <!--TODO: Get the form data of seller -->
    <!--TODO: add event listener on the Add button -->
</body>

</html>