{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Stock Summary</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/stock/new.css' %}">
</head>

<body>

    <!-- NAVIGATION SIDE BAR / NAVBAR STARTS -->
    {% include 'components/navbar.html' %}
    <!-- NAVIGATION SIDE BAR / NAVBAR ENDS -->

    <!-- MAIN STARTS -->
    <main>

        <!-- Header Starts -->
        <header class="center-mobile">
            <button class="text desk-only">
                <a href="{% url 'stock-new' %}">
                    <svg class="icon">
                        <use href="{% static 'assets/icon-sprite.svg' %}#arrow-left" />
                    </svg> Back
                </a>
            </button>
            <!-- Header content -->
            <h1 class="fs-600">New Stock Summary</h1>
            <!-- Today's date -->
            <p class="nowrap">
                <svg class="icon">
                    <use href="{% static 'assets/icon-sprite.svg' %}#calendar-date" />
                </svg>
                <span class="date"></span>
            </p>
        </header>
        <!-- Header Ends -->

        <!-- MAIN CONTENT STARTS -->
        <section class="main-content">

            <section class="summary-main-content">
                <div class="back-box">
                    <button class="text mobile-only">
                        <a href="{% url 'stock-new' %}">
                            <svg class="icon">
                                <use href="{% static 'assets/icon-sprite.svg' %}#arrow-left" />
                            </svg> Back
                        </a>
                    </button>
                </div>

                <!-- PRODUCT LIST STARTS -->
                <div class="summary-product-list" id="summary_product_list"></div>
                <!-- PRODUCT LIST ENDS -->

                <!-- TODO: ADD THE SURITY TEXT's HERE -->

                <!-- ADD PRODUCT BUTTONS -->
                <div class="btn-box">
                    <button class="primary" style="margin-left: auto;">
                        <svg class="icon">
                            <use href="{% static 'assets/icon-sprite.svg' %}#check" />
                        </svg>
                        Save this Batch
                    </button>
                </div>
            </section>

        </section>
        <!-- MAIN CONTENT ENDS -->


    </main>
    <!-- MAIN ENDS -->

    <!-- SCRIPT -->
    <script type="module" src="{% static 'script/main.js' %}"></script>
    <script type="module" src="{% static 'script/stock-summary.js' %}"></script>
</body>

</html>