{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>Pharmify</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static '/assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static '/style/main.css' %}">
    <link rel="stylesheet" href="{% static '/style/settings.css' %}">

</head>

<body>

    <!-- NAVIGATION SIDE BAR / NAVBAR STARTS -->
    {% include 'components/navbar.html' %}
    <!-- NAVIGATION SIDE BAR / NAVBAR ENDS -->

    <!-- MAIN STARTS -->
    <main>

        <!-- Header -->
        <header class="center-mobile collapsable" data-scrollable="edit_profile_form">
            <h1 class="fs-600">Personal info</h1>
        </header>

        {% for user in user %}
        <!-- Tab navigation -->
        <section class="tab-sec">
            <a href="{% url 'edit-profile' %}" class="tab active">Edit profile</a>
            <a href="{% url 'account-privacy' %}" class="tab">Privacy and Security</a>
            <a href="{% url 'settings' %}" class="tab">Settings</a>
            <span class="indicator"></span>
        </section>

        <form class="main-content" action="" method="post" class="edit-profile-form" id="edit_profile_form"
            name="edit_profile_form" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <!-- CHOOSE AVATAR FROM STARTS -->
            <section class="zoomed">

                <h2 class="fs-500">Your Profile Photo</h2>
                <p class="subtitle">Click image to Zoom in.</p>

                <div class="img-preview-box">
                    <!-- Current Preview -->
                    <picture class="user-info-avatar">
                        <img src="{% static user.avatar %}" alt="Your profile photo" id="avatar_preview"
                            onerror="this.src =`{% static 'assets/illus/default-avatar.png' %}`">
                    </picture>

                    <div class="btn-box">

                        <!-- File upload button -->
                        <button class="text" type="button"
                            onclick="document.getElementById('upload_avatar_input').click()">
                            <svg class="icon">
                                <use href="{% static '/assets/icon-sprite.svg' %}#upload" />
                            </svg>
                            Choose Profile Photo
                        </button>

                        <!-- Remove  -->
                        <button class="icon negative" type="button" id="remove_avatar_btn" name="remove_avatar_btn"
                            aria-hidden="true">
                            <svg class="icon">
                                <use href="{% static '/assets/icon-sprite.svg' %}#delete" />
                            </svg>
                        </button>

                    </div>
                </div>
                <!-- File upload input -->
                <input type="file" name="upload_avatar_input" id="upload_avatar_input" hidden
                    accept="image/jpg, image/png, image/jpeg">
                <input type="text" name="remove_avatar_input" id="remove_avatar_input" hidden>
            </section>
            <!-- CHOOSE AVATAR FROM ENDS -->

            <section>
                <h2 class="fs-500">Your Retail Drug License</h2>

                <p class="subtitle">Click image to Zoom in.</p>

                <div class="img-preview-box">
                    <!-- Current License Preview -->
                    <picture>
                        <img src="{% static user.license %}" alt="Your Drug Strore License" id="license_preview">

                    </picture>

                    <div class="btn-box">

                        <!-- File upload button -->
                        <button class="text" type="button"
                            onclick="document.getElementById('edit_profile_license').click()">
                            <svg class="icon">
                                <use href="{% static '/assets/icon-sprite.svg' %}#upload" />
                            </svg>
                            Choose License Photo
                        </button>

                        <!-- Remove  -->
                        <button class="icon negative" type="button" id="remove_license_btn" name="remove_license_btn"
                            aria-hidden="true">
                            <svg class="icon">
                                <use href="{% static '/assets/icon-sprite.svg' %}#delete" />
                            </svg>
                        </button>
                    </div>
                </div>
                <!-- File upload input -->
                <input type="file" hidden name="edit_profile_license" id="edit_profile_license" class="text-input"
                    accept="image/jpg, image/png, image/jpeg">
                <input type="text" name="remove_license_input" id="remove_license_input" hidden>

            </section>


            <!-- EDIT PROFILE FROM STARTS -->
            <section class="edit-profile-form">

                <h2 class="fs-500">Your Account Information</h2>
                <p class="subtitle">Review and update your profile information, <b class="gradient-accent">{{user}}</b>.
                </p>

                <!-- Full name -->
                <fieldset>
                    <label for="edit_profile_full_name">Full Name</label>
                    <input type="text" name="edit_profile_full_name" id="edit_profile_full_name" class="text-input"
                        placeholder="First & Last name" autocomplete="name" required
                        pattern="([A-Za-z]+){2,}\s+([A-Za-z]+)(?:\s+([A-Za-z]+){2,})?$" value="{{user.name}}">
                </fieldset>

                <!-- Shop name -->
                <fieldset>
                    <label for="edit_profile_shop_name">Shop Name</label>
                    <input type="text" name="edit_profile_shop_name" id="edit_profile_shop_name" class="text-input"
                        placeholder="Your Medical Store name" required
                        pattern='^[.@&]?[a-zA-Z0-9 ]+[ !.@&()]?[ a-zA-Z0-9!()]+' value="{{user.shop_name}}">
                </fieldset>


                <!-- Phone Number -->
                <fieldset>
                    <label for="edit_profile_phone">Phone Number</label>
                    <div class="icon-frame">
                        <span class="lead"><img src="{% static '/assets/illus/flag-india.svg' %}" class="icon"></span>
                        <input type="text" name="edit_profile_phone" id="edit_profile_phone" class="text-input"
                            autocomplete="tel" placeholder="10 digit contact number" required inputmode="numeric"
                            pattern="^\d{10}$" value="{{user.phone_number}}">
                    </div>
                </fieldset>

                <div class="btn-box">

                    <!-- Remove  -->
                    <button class="text negative" type="button" id="edit_profile_reset_btn"
                        name="edit_profile_reset_btn">
                        <svg class="icon">
                            <use href="{% static '/assets/icon-sprite.svg' %}#refresh" />
                        </svg>
                        Reset
                    </button>
                    <!-- Update changes button -->
                    <button class="primary" type="submit" id="edit_profile_submit_btn" name="edit_profile_submit_btn">
                        Save Changes
                    </button>
                </div>

            </section>
            <!-- EDIT PROFILE FROM ENDS -->

        </form>



    </main>
    <!-- MAIN ENDS -->


    <script type="module" src="{% static '/script/main.js' %}"></script>

    <script type="module">
        import { createSnackbar, createDialog } from "{% static '/script/utils/components.js' %}"
        import { UI_STATUS_FEEDBACK } from "{% static '/script/utils/const.js' %}"
        import { setInputMsg, validateInput } from "{% static '/script/utils/inputs.js' %}"
        import { toTwoDigit } from "{% static '/script/utils/utils.js' %}"

        document.addEventListener("DOMContentLoaded", () => {

            /* ///////////////
                SETTING EXISTING DATA
            /////////////// */

            let removeAvatarBtn = document.getElementById("remove_avatar_btn");
            let removeLicenseBtn = document.getElementById("remove_license_btn");
            let avatarPreview = document.getElementById("avatar_preview");
            let licensePreview = document.getElementById("license_preview");


            if (!avatarPreview.src.endsWith("assets/illus/default-avatar.png")) {
                removeAvatarBtn.setAttribute("aria-hidden", "false");
            }

            if (!licensePreview.src.endsWith("assets/illus/default-file-image.png")) {
                removeLicenseBtn.setAttribute("aria-hidden", "false");
            }

            // Function to Handle Avatar and License images selection
            function handleImageSelection(input_id, prev_id, remove_btn, remove_img_id, defaultImg) {
                let removeBtn = document.getElementById(remove_btn);
                let removeInput = document.getElementById(remove_img_id);
                let previewImg = document.getElementById(prev_id);
                let input = document.getElementById(input_id);

                // Preview on image selection
                input.addEventListener("change", () => {
                    const chosenImg = input.files[0];
                    if (chosenImg) {
                        console.log(chosenImg);
                        previewImg.src = URL.createObjectURL(chosenImg);
                        removeBtn.setAttribute("aria-hidden", "false");
                        removeInput.value = "New image chosen";
                    }
                });

                // Remove selected image
                removeBtn.addEventListener("click", () => {
                    removeInput.value = "Image file deleted";
                    previewImg.src = `/static/assets/illus/${defaultImg}`;
                    removeBtn.setAttribute("aria-hidden", "true");
                });

                // Open Image in New Tab
                previewImg.addEventListener("click", () => {
                    let src = previewImg.src;
                    if (!src.endsWith("assets/illus/default-file-image.png") &&
                        !src.endsWith("assets/illus/default-avatar.png")) {
                        window.open(src);
                    }
                });

            }

            handleImageSelection("upload_avatar_input", "avatar_preview", "remove_avatar_btn", "remove_avatar_input", "default-avatar.png")
            handleImageSelection("edit_profile_license", "license_preview", "remove_license_btn", "remove_license_input", "default-file-image.png")

            // FORM Validation
            let editProfileForm = document.getElementById("edit_profile_form");
            let fullNameInput = document.getElementById("edit_profile_full_name");
            let shopNameInput = document.getElementById("edit_profile_shop_name");
            let phoneInput = document.getElementById("edit_profile_phone");
            let saveChangesBtn = document.getElementById("edit_profile_submit_btn");
            let resetChangesBtn = document.getElementById("edit_profile_reset_btn");

            saveChangesBtn.addEventListener("click", (e) => {
                e.preventDefault();

                let validationArray = [
                    validateInput(fullNameInput, "Must be first, middle (optional) and last name."),
                    validateInput(shopNameInput, "Shop names can include letters, numbers, spaces, and some symbols like periods (.), commas (,), at signs (@), and ampersands (&). They cannot start or end with special characters other than periods (.) or at signs (@)"),
                    validateInput(phoneInput, "Must be a 10 digit number")
                ];

                // If there is no user mistake,
                if (!validationArray.includes(false)) {
                    editProfileForm.submit();
                    console.log("Success");
                }
            });


            resetChangesBtn.addEventListener("click", (e) => {
                e.preventDefault();


                createDialog({
                    headline: "Reset all changes?",
                    description: "Your profile changes will be discarded. Your current profile information will remain intact.",
                    primaryBtnLabel: "Reset",
                    secondaryBtnLabel: "Keep",
                    primaryAction: function () {
                        editProfileForm.reset();
                        window.location.reload();
                        return true
                    },
                    danger: true,
                })

            })

        })


    </script>
    {% endfor %}
</body>

</html>