<h3>Password Reset</h3>
<p>Forgotten your password? Enter your email below password reset <b>Link</b> will be sent to your email.</p>
<form method="post">
    {% csrf_token %}
    <label for="">Email</label>
    <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required id="id_email"
        placeholder="Enter email">
    <input type="submit" value="Send Mail">
</form>
{% if form.errors %}
<div class="alert alert-danger">
    {% for field in form %}
    {% for error in field.errors %}
    <p>{{ error }}</p>
    {% endfor %}
    {% endfor %}

</div>
{% endif %}