{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>Successfully reset password - Pharmify</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css'%}">
    <link rel="stylesheet" href="{% static 'style/authentication.css'%}">

    <style>
        main {
            background-image: url("{% static 'assets/illus/reset-password-bg.png' %}");
        }
    </style>
</head>

<body>

    <!-- MAIN STARTS -->
    <main>

        <!-- MAIN CONTENT STARTS -->
        <section class="main-content">
            <div class="logo" data-name="true"></div>

            <form>
                <!-- Illustration -->
                <picture style="max-width: 20rem;">
                    <img src="{% static 'assets/illus/password-reset-success.svg' %}" alt="Email">
                </picture>

                <!-- Headlines -->
                <h1 class="fs-600 center">Success!</h1>
                <p class="subtitle center">
                    We have successfully updated your new password. You can go ahead and continue
                    to access Pharmify.
                </p>
                <b class="gradient-accent">Redirecting...</b>

            </form>

        </section>
        <!-- MAIN CONTENT ENDS -->

    </main>
    <!-- MAIN ENDS -->

    <script type="module" src="{% static 'script/main.js' %}"></script>

    <script type="module">
        // TODO: Redirect to Login / Edit Profile page
        setTimeout(() => {
            window.location.href = "{% url 'login' %}";
        }, 5000);
    </script>
</body>

</html>