<h3>Enter New Password</h3>

<p>Enter your new password Twice for verification.</p>
<form method="post">
    {% csrf_token %}
    <label for="id_new_password1">New Password</label>
    <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required
        id="id_new_password1" placeholder="Enter password" />

    <label for="id_new_password2">New Password Confirmation</label>
    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" \
        placeholder="Confirm password" />
    <input type="submit" value="Update Password">
</form>