<!-- TODO: ADD DJANGO CODE -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>Reset Password - Pharmify</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css'%}">
    <link rel="stylesheet" href="{% static 'style/authentication.css'%}">

    <style>
        main {
            background-image: url("{% static 'assets/illus/reset-password-bg.png' %}");
        }
    </style>
</head>

<body>

    <!-- MAIN STARTS -->
    <main>

        <!-- MAIN CONTENT STARTS -->
        <section class="main-content">
            <div class="logo" data-name="true"></div>
            <!-- Back Button -->
            <button class="text back-btn"><svg class="icon">
                    <use href="{% static 'assets/icon-sprite.svg' %}#arrow-left" />
                </svg> Back</button>
            <form method="post" id="password_reset_email_form" name="password_reset_email_form" novalidate>
                {% csrf_token %}

                <!-- Headlines -->
                <h1 class="fs-600 center">Reset Password</h1>
                <p class="subtitle center">Strengthen your account security with a new password. Enter your registered
                    <b>email address</b> to verify its you!
                </p>

                <!-- Email -->
                <fieldset>
                    <label for="password_reset_email_email">Email</label>
                    <input type="email" name="email" id="password_reset_email_email" class="text-input"
                        placeholder="you@email.com" autocomplete="email"
                        pattern="^([a-zA-Z0-9._%\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,})$" required>
                </fieldset>

                <!-- Send code Button -->
                <fieldset>
                    <button class="primary" value="Send Mail" type="submit" id="password_reset_email_send_otp_btn">Send
                        Code</button>
                </fieldset>


            </form>

        </section>
        <!-- MAIN CONTENT ENDS -->

    </main>
    <!-- MAIN ENDS -->

    <script type="module" src="{% static 'script/main.js' %}"></script>
    <script type="module">
        import { UI_CLASS } from "{% static 'script/utils/const.js' %}";
        import { setInputMsg, validateInput } from "{% static 'script/utils/inputs.js' %}";
        import { setMsgIcons } from "{% static 'script/utils/utils.js' %}";

        document.addEventListener("DOMContentLoaded", () => {

            let form = document.getElementById("password_reset_email_form");
            let emailInput = document.getElementById("password_reset_email_email");
            let sendOTPBtn = document.getElementById("password_reset_email_send_otp_btn");

            sendOTPBtn.addEventListener("click", (e) => {
                e.preventDefault();

                let validationArray = [
                    validateInput(emailInput, "Please enter a valid email.")
                ];

                if (!validationArray.includes(false)) {
                    form.submit();
                    console.log("event privented")
                }
            })

        });

    </script>
</body>

</html>


<!-- <h3>Password Reset</h3>
<p>Forgotten your password? Enter your email below password reset <b>Link</b> will be sent to your email.</p>
<form method="post">
    {% csrf_token %}
    <label for="">Email</label>
    <input type="email" name="email" autocomplete="email" maxlength="254" placeholder="Enter email">
    <input type="submit" value="Send Mail">
</form>
{% if form.errors %}
<div class="alert alert-danger">
    {% for field in form %}
    {% for error in field.errors %}
    <p>{{ error }}</p>
    {% endfor %}
    {% endfor %}

</div>
{% endif %} -->