main header {
  border-bottom: 1px solid var(--clr-grey-divider);
}

header .nowrap {
  gap: 0.4rem;
}

main .main-content {
  padding: 0 !important;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: row;
}

main .main-content .new-product-list-sec,
main .summary-main-content {
  max-height: 100%;
  overflow: hidden auto;
  flex: 1;
  padding: 1.6rem 0.8rem;
  padding-bottom: 12rem;
}

.aside-body menu {
  padding: 0.8rem;
}

.aside-body menu .menu-item.primary {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

@media (min-width: 1025px) {
  main .main-content aside {
    border-left: 1px solid var(--clr-grey-divider);
  }
  aside,
  .aside-body {
    width: 28rem;
  }
  .aside-body .aside-content {
    padding: 0.8rem;
  }

  .aside-body menu {
    padding: 1.6rem 0;
  }
}

/* /////////////////////////
NEW PRODUCT LIST
///////////////////////// */

fieldset {
  margin: 0;
}

.new-product-list-sec,
.new-product-list,
.summary-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2.4rem;
}

.new-product-list-sec > *,
.new-product-list > * {
  width: 100%;
  max-width: 70rem;
  padding: 0.4rem;
}

.new-product-list-sec .btn-box {
  width: 100%;
}

.new-product-list-sec .btn-box .new-product-btn {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2.4rem;
  color: var(--clr-black);
  background-color: var(--clr-grey-bg-light);
  border: 1px dashed var(--clr-primary-light);
  padding: 1.6rem;
}

.new-product-list-sec .btn-box .new-product-btn:hover {
  background-color: var(--clr-primary-hover);
  border-color: var(--clr-primary-dark);
}

@media (min-width: 426px) {
  .new-product-list-sec .btn-box {
    flex-direction: row-reverse;
  }
}

.new-product-list .new-product,
.info-box {
  padding: 1.6rem 0.8rem;
  border-radius: 1.6rem;
  background-color: var(--clr-white);
}

.new-product-list .new-product {
  border: 1px solid var(--clr-primary-light);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.badge.number {
  background-color: var(--clr-accent-dark);
}

.new-product .product-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-product .product-options span {
  display: flex;
  gap: 0.8rem;
}

.new-product .product-name {
  font-weight: 600;
  color: var(--clr-primary-dark);
}

.new-product :is(.product-price-wholesale, .product-price-selling) {
  text-align: right;
  font-size: var(--fs-500);
}

.new-product
  fieldset:has(.product-price-wholesale, .product-price-selling)
  .trail {
  font-size: var(--fs-200);
  color: var(--clr-grey-text);
  text-wrap: nowrap;
}

.new-product .product-quantity {
  text-align: center;
  font-size: var(--fs-600);
}

.new-product fieldset:has(.product-quantity) .icon-frame {
  height: 100%;
  max-height: 10.6rem;
}

@media (min-width: 426px) {
  .new-product-list .new-product {
    padding: 2.4rem 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "A A A" "B B D" "C C C" "E E E" "F I H" "G J H";
    grid-row-gap: 1.2rem !important;
  }

  .new-product .product-options {
    grid-area: A;
  }
  .new-product fieldset:has(.product-name) {
    grid-area: B;
  }
  .new-product fieldset:has(.product-type) {
    grid-area: C;
  }
  .new-product fieldset:has(.product-brand) {
    grid-area: D;
  }
  .new-product fieldset:has(.product-seller-name) {
    grid-area: E;
  }
  .new-product fieldset:has(.product-date-manufacture) {
    grid-area: F;
  }
  .new-product fieldset:has(.product-date-expiry) {
    grid-area: G;
  }
  .new-product fieldset:has(.product-quantity) {
    grid-area: H;
  }
  .new-product fieldset:has(.product-price-wholesale) {
    grid-area: I;
  }
  .new-product fieldset:has(.product-price-selling) {
    grid-area: J;
  }
}

/* /////////////////////////
  NEW STOCK SUMMARY PAGE
///////////////////////// */

.summary-main-content {
  display: flex;
  flex-direction: column;
}

.summary-main-content > * {
  margin: auto;
}

.summary-main-content .back-box {
  max-width: 100rem;
}

.summary-main-content .col-left > * {
  margin-bottom: 1.6rem;
}

.overview-sec > * {
  padding: 0.8rem 1.6rem;
}

.overview-sec .count-box p {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  gap: 3.2rem;
}

.overview-sec .count-box {
  flex: 1;
  width: 100%;
}

.summary-main-content .col-left .note {
  background-color: var(--clr-status-info-light-bg);
}

.summary-product {
  width: 100%;
  border: 1px solid var(--clr-grey-divider);
  background-color: var(--clr-white);
  border-radius: 1.6rem;
  overflow: hidden;
}

.summary-product > div:has(.number, .name, .type, .date-expiry, .quantity) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  padding: 0.8rem 1.6rem;
}

.summary-product div:has(.name) {
  align-items: start !important;
}

.summary-product > div:not(:has(.number, .quantity, .note)),
.overview-sec .count-box p:has(.quantity) {
  border-bottom: 1px solid var(--clr-grey-divider);
}

.summary-product .type:not(.similar-product-box .type) {
  font-size: var(--fs-300);
}

.summary-product p:has(.seller),
.overview-sec .brand-and-seller {
  text-align: right;
}

.summary-product .seller {
  text-wrap: nowrap;
}

.summary-product p:has(.days-left) {
  text-align: center;
  font-size: var(--fs-300);
  color: var(--clr-grey-text);
}

.summary-product .days-left {
  color: var(--clr-black);
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.summary-product .days-left.warn {
  color: var(--clr-status-warn-light-text);
}

.summary-product div div p {
  margin-bottom: 0.8rem;
}

.summary-product .subtitle {
  font-size: var(--fs-200);
}

.summary-product > div.similar-product-box {
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.8rem;
  background-color: var(--clr-grey-bg-light);
}

.similar-product-box .badge {
  margin-right: auto;
  margin-left: 1.2rem;
  margin-bottom: -1.9rem;
  z-index: 11;
}

.similar-product-box .summary-product {
  padding-top: 0.8rem;
}

@media (min-width: 769px) {
  main .summary-main-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 0;
  }

  .summary-main-content > * {
    max-height: 100%;
    width: 100%;
    overflow: hidden auto;
    margin: 0;
    padding: 1.6rem;
  }

  .summary-main-content .col-right {
    padding-bottom: 12rem;
  }

  .summary-main-content .col-right > * {
    max-width: 56rem;
    margin: auto;
    margin-top: 2.4rem;
  }

  .summary-main-content .col-right .overline {
    margin-bottom: -1.6rem;
  }
}
