/* /////////////////////////
    INPUT RESETS
///////////////////////// */

.inventory-product-view .input-box {
  margin-bottom: 2rem;
}

.inventory-product-view .input-box label {
  position: static;
  font-size: var(--fs-200);
  margin-bottom: 0rem;
}

.inventory-product-view .input-box:has(input:focus) label {
  font-size: var(--fs-200);
}

.inventory-product-view.editable
  .input-box:has(input:required):not(:has(input:read-only))
  label::after {
  content: "*";
  color: red;
  padding-left: 0.4rem;
}

.inventory-product-view .input-frame.text-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding: 0 0.4rem;
}

.inventory-product-view:not(.editable) .input-frame.text-input,
.inventory-product-view .input-frame.text-input:has(input:read-only) {
  border-bottom: none;
}

.inventory-product-view .input-frame.text-input input {
  padding: 0.4rem 0;
}

.inventory-product-view .input-frame.text-input input:disabled {
  opacity: 1;
  color: hsl(var(--clr-neutral-900));
  background-color: hsl(var(--clr-white));
}

.inventory-product-view .input-frame.text-input input::placeholder {
  color: hsl(var(--clr-neutral-400));
}

/* /////////////////////////
    CORE DETAILS SECTION
///////////////////////// */

.inventory-product-view .main-sec {
  border-radius: 0.4rem;
  max-width: 96rem;
  margin: auto;
}

.core-details > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.core-details > div .details-col {
  flex: 1;
  min-width: 28rem;
  border: 1px solid hsl(var(--clr-neutral-400));
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.core-details .categories-list {
  padding: 0.8rem;
  background-color: hsl(var(--clr-neutral-100));
  border: 1px solid hsl(var(--clr-neutral-200));
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  height: 16.15rem;
  overflow: hidden;
  position: relative;
}

.core-details .categories-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    hsla(var(--clr-white), 0) 0%,
    hsla(var(--clr-white), 0.5) 100%
  );
}

.core-details .categories-list ul {
  margin-left: 3.2rem;
}

.core-details .categories-list li {
  display: block;
  font-size: var(--fs-400);
}

.core-details .categories-list ul li {
  margin: 0.4rem 0;
  padding: 0.4rem 0.8rem;
}

.core-details .categories-list ul li li {
  margin: 0;
}

.core-details .categories-list .input-box.checkbox {
  margin-bottom: 0;
}

.core-details .categories-list .input-box.checkbox label {
  font-size: var(--fs-300);
  display: flex;
}

.core-details .categories-list .input-box.checkbox .input-frame {
  --size: 1.2rem;
}

/* SKU & Barcode */
.core-details .sku-and-barcode {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid hsl(var(--clr-neutral-200));
  border-radius: 0.8rem;
  padding: 0.8rem;
}

.core-details .sku-and-barcode .input-box {
  margin-bottom: 0;
}

.core-details .sku-and-barcode img {
  flex: 1;
  min-width: 20rem;
  max-width: 28rem;
  margin: auto;
}
