/* /////////////////////////
    CUSTOM INPUT STYLE
///////////////////////// */

.inventory-product-view .input-box {
  margin-bottom: 2rem;
}

.inventory-product-view .input-box label {
  position: static;
  font-size: var(--fs-200);
  margin-bottom: 0rem;
}

.inventory-product-view .input-box:has(input:focus) label {
  font-size: var(--fs-200);
}

.inventory-product-view .input-box label .asterisk {
  color: red;
  padding-left: 0.4rem;
}

.inventory-product-view .input-frame.text-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding: 0 0.4rem;
}

.inventory-product-view .input-box.disabled .input-frame.text-input {
  border-bottom-color: transparent;
}

.inventory-product-view .input-frame.text-input input {
  padding: 0.4rem 0;
}

.inventory-product-view .input-frame.text-input input:disabled {
  opacity: 1;
  color: hsl(var(--clr-neutral-900));
  background-color: hsl(var(--clr-white));
}

.inventory-product-view .input-frame.text-input input::placeholder {
  color: hsl(var(--clr-neutral-400));
}

/* /////////////////////////
    GLOBAL INVENTORY PRODUCT VIEW CSS
///////////////////////// */

.inventory-product-view {
  gap: 0;
  flex-direction: row;
  align-items: start;
}

.inventory-product-view .details-sec {
  max-width: 108rem;
  width: 100%;
  margin: auto;
}

.main-sec > div .details-col {
  flex: 1;
  min-width: 22rem;
  border: 1px solid hsl(var(--clr-neutral-400));
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.mobile-form-header {
  display: none;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
  min-height: 5.7rem;
  width: 100%;
  background-color: hsl(var(--clr-white));
  position: sticky;
  top: 0;
  z-index: 101;
}

.mobile-form-header h2 {
  margin: 0 !important;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  background-color: hsl(var(--clr-white));
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-top: 1.2rem;
}

.form-footer button[type="submit"] {
  display: none;
}

.header-options {
  display: contents;
}

@media screen and (max-width: 560px) {
  .header-options {
    display: none;
  }

  .inventory-product-view .details-sec {
    width: 0;
    overflow: hidden;
    position: absolute;
  }

  .inventory-product-view .details-col {
    display: none;
    padding: 1.6rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: hsl(var(--clr-white));
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    border-radius: 0 !important;
    border: none !important;
  }

  .details-col .mobile-form-header,
  .details-col .form-footer button[type="submit"] {
    display: flex;
  }

  .details-col .form-footer {
    margin-top: 1.6rem;
    padding: 1.6rem 0;
  }

  /* /////////////////////////
  MOBILE FORM
///////////////////////// */

  .inventory-product-view .details-col.mobile-form-active {
    display: block;
  }
}

.inventory-product-view .product-view-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  padding: 1.6rem;
}

.inventory-product-view .product-view-nav .inventory-item.tile {
  margin-bottom: 2.4rem;
}

.inventory-product-view .product-view-nav p.nav-heading {
  font-size: var(--fs-200);
  color: hsl(var(--clr-neutral-600));
  font-weight: 500;
}

.inventory-product-view .product-view-nav .nav-body {
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 560px) {
  .inventory-product-view .product-view-nav {
    max-width: 32rem;
    min-width: 22rem;
    position: sticky;
    top: 0;
  }
  .inventory-product-view .product-view-nav .inventory-item.tile,
  .inventory-product-view .product-view-nav button.tile .sublabel {
    display: none;
  }
}

/* /////////////////////////
  CORE DETAILS SECTION
///////////////////////// */

.core-details > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.core-details .categories-list {
  padding: 0.8rem;
  background-color: hsl(var(--clr-neutral-100));
  border: 1px solid hsl(var(--clr-neutral-200));
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  height: 16.15rem;
  overflow: hidden;
  position: relative;
}

.core-details .categories-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    hsla(var(--clr-white), 0) 0%,
    hsla(var(--clr-white), 0.5) 100%
  );
}

.core-details .categories-list ul {
  margin-left: 1.8rem;
}

.core-details .categories-list li {
  display: block;
}

.core-details .categories-list ul li {
  margin: 0.4rem 0;
  padding: 0.4rem 0.8rem;
}

.core-details .categories-list li span {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: var(--fs-300);
}

.core-details .categories-list li .icon {
  stroke: hsl(var(--clr-neutral-700));
}

/* SKU & Barcode */
.core-details .sku-and-barcode {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid hsl(var(--clr-neutral-200));
  border-radius: 0.8rem;
  padding: 0.8rem;
  margin-top: auto;
}

.core-details .sku-and-barcode .input-box {
  margin-bottom: 0;
}

.core-details .sku-and-barcode img {
  display: block;
  max-width: 28rem;
  height: auto;
  width: 100%;
  margin: auto;
  object-fit: contain;
}

/* /////////////////////////
  PRICING SECTION
///////////////////////// */

.pricing-calc-box {
  border-top: 1px solid hsl(var(--clr-neutral-300));
  padding: 1.6rem 0;
}

.pricing-calc-box > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.pricing-calc-box > p span.value-box {
  font-size: var(--fs-400);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.pricing-calc-box > p :is(.icon.percentage, .icon.rupee) {
  --size: 1.4rem;
  stroke-width: 2;
}

.pricing-info .add-discount-btn {
  border: 1px solid hsl(var(--clr-neutral-400));
  border-radius: 0.8rem;
}

.pricing-calc-box.discount-box {
  border: 1px solid hsl(var(--clr-neutral-400));
  border-radius: 0.8rem;
  padding: 1.6rem;
}

.pricing-calc-box .cancel-discount-btn {
  padding: 0.2rem;
  font-weight: 400;
  font-size: var(--fs-200);
  text-decoration: underline;
}

.pricing-calc-box.discount-box .cancel-discount-btn:hover {
  scale: 1.01;
}

.pricing-calc-box.discount-box:has(.cancel-discount-btn:hover) {
  scale: 0.99;
  border-style: dashed;
}
