.create-new-product-view {
  max-width: 110rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "A C"
    "B C"
    "D D";
  column-gap: 3.8rem;
  padding-bottom: 12rem !important;
}

/* Target the children by their order */
.create-new-product-view > .basic-info {
  grid-area: A;
}

.create-new-product-view > .categories {
  grid-area: B;
}

.create-new-product-view > .source-info {
  grid-area: C;
}

.create-new-product-view > .btn-box {
  grid-area: D;
}

/* Responsive - wrap on smaller screens */
@media screen and (max-width: 768px) {
  .create-new-product-view {
    grid-template-columns: 1fr;
    grid-template-areas:
      "A"
      "B"
      "C"
      "D";
  }
}

.create-new-product-view .btn-box {
  position: sticky;
  margin-top: 0.8rem;
  margin-left: -1.6rem;
  padding: 1.6rem;
  left: 0;
  width: calc(100% + (1.6rem * 2));
  bottom: 0;
  background-color: hsl(var(--clr-white));
  z-index: 11;
  box-shadow: var(--shdw-soft-bottom-banner);
}
