{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>New Password - Pharmify</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css'%}">
    <link rel="stylesheet" href="{% static 'style/authentication.css'%}">

    <style>
        main {
            background-image: url("{% static 'assets/illus/login-bg.png' %}");
        }
    </style>
</head>

<body>

    <!-- MAIN STARTS -->
    <main>

        <!-- MAIN CONTENT STARTS -->
        <section class="main-content">
            <div class="logo" data-name="true"></div>
            <!-- Back Button -->
            <button class="text back-btn negative">
                <svg class="icon">
                    <use href="{% static 'assets/icon-sprite.svg' %}#arrow-left" />
                </svg>
                Back
            </button>

            <form action="" method="post" id="new_password_form" name="new_password_form" novalidate>
                {% csrf_token %}

                <!-- Headlines -->
                <h1 class="fs-600 center">Set new Password</h1>
                <p class="subtitle center">Keep your new password strong and secret!</p>

                <!-- Create Password -->
                <fieldset>
                    <label for="new_password_create">Create Password</label>
                    <div class="icon-frame">
                        <input type="password" name="new_password_create" id="new_password_create"
                            class="text-input" placeholder="Strong and Secret password" required
                            autocomplete="new-password"
                            pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$">
                    </div>
                </fieldset>

                <!-- Box to display password conditions on password input -->
                <div id="password_conditions_box"></div>

                <!-- Confirm Password -->
                <fieldset>
                    <label for="new_password_confirm">Confirm Password</label>
                    <div class="icon-frame">
                        <input type="password" name="new_password_confirm" id="new_password_confirm"
                            class="text-input" placeholder="Type again..." required>
                    </div>
                </fieldset>

                <!-- Login Button -->
                <fieldset>
                    <button class="primary" type="submit" id="new_password_set_btn">Set Password</button>
                </fieldset>
            </form>

        </section>
        <!-- MAIN CONTENT ENDS -->

    </main>
    <!-- MAIN ENDS -->

    <script type="module" src="{% static 'script/main.js' %}"></script>
    <script type="module">
        import { UI_CLASS } from "{% static 'script/utils/const.js' %}";
        import { setInputMsg, validateInput } from "{% static 'script/utils/inputs.js' %}";
        import { setMsgIcons } from "{% static 'script/utils/utils.js' %}";

        document.addEventListener("DOMContentLoaded", () => {

            let createPasswordInput = document.getElementById("new_password_create");
            let confirmPasswordInput = document.getElementById("new_password_confirm");
            let setPasswordBtn = document.getElementById("new_password_set_btn");

            setPasswordBtn.addEventListener("click", (e) => {
                    e.preventDefault();

                    // Validate all inputs
                    let validationArray = [
                        validateInput(createPasswordInput, "Password must satisfy following conditions"),
                        validateInput(confirmPasswordInput, "This field is required")
                    ];

                    // Create and confirm password values must be same
                    if (confirmPasswordInput.value != `` && confirmPasswordInput.value != createPasswordInput.value) {
                        setInputMsg(confirmPasswordInput, "Passwords didn't match.");
                        validationArray.push(false);
                    }

                    // If there is no user mistake,
                    if (!validationArray.includes(false)) {
                        signupForm.submit();
                    }
                })

        });

    </script>
</body>

</html>


<!-- <h3>Enter New Password</h3>

<p>Enter your new password Twice for verification.</p>
<form method="post">
    {% csrf_token %}
    <label for="id_new_password1">New Password</label>
    <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required
        id="id_new_password1" placeholder="Enter password" />

    <label for="id_new_password2">New Password Confirmation</label>
    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" \
        placeholder="Confirm password" />
    <input type="submit" value="Update Password">
</form> -->