{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>Check Mailbox - Pharmify</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css'%}">
    <link rel="stylesheet" href="{% static 'style/authentication.css'%}">

    <style>
        main {
            background-image: url("{% static 'assets/illus/reset-password-bg.png' %}");
        }
    </style>
</head>

<body>

    <!-- MAIN STARTS -->
    <main>

        <!-- MAIN CONTENT STARTS -->
        <section class="main-content">
            <div class="logo" data-name="true"></div>
            <!-- Back Button -->
            <button class="text back-btn negative"><svg class="icon">
                    <use href="{% static 'assets/icon-sprite.svg' %}#arrow-left" />
                </svg> Cancel</button>
            <form>
                {% csrf_token %}

                <!-- Illustration -->
                <picture style="max-width: 20rem;">
                    <img src="{% static 'assets/illus/email-sent.svg' %}" alt="Email">
                </picture>

                <!-- Headlines -->
                <h1 class="fs-600 center">Check your Mailbox!</h1>
                <p class="subtitle center">We have sent you a link to change your password on your <b>email</b>.
                    In case you don't find it, try searching in the spam folder.</p>

            </form>

        </section>
        <!-- MAIN CONTENT ENDS -->

    </main>
    <!-- MAIN ENDS -->

    <script type="module" src="{% static 'script/main.js' %}"></script>
</body>

</html>