<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmify</title>
</head>

<body>
    {% if request.user.is_authenticated %}
    <h2>{{request.user}}</h2>
    <a href="{% url 'logout' %}">Logout</a>
    <hr>
    <a href="{% url 'add-stock' %}">Add Stock</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'verifyEmail' %}">Register</a>
    {% endif %}
</body>

</html>