{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>Pharmify</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'assets/logo/favicon.svg' %}" type="image/x-icon">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'style/main.css'%}">

</head>

<body>
    {% if request.user.is_authenticated %}
    <p class="fs-400">{{request.user}}</p>
    <button class="primary"><a href="{% url 'profile-update' %}">Edit User</a></button><br>
    <button class="primary"><a href="{% url 'logout' %}">Logout</a></button>
    {% else %}
    <button class="primary"><a href="{% url 'login' %}">Login</a></button>
    <button class="primary"><a href="{% url 'verifyEmail' %}">Register</a></button>
    {% endif %}


    <script type="module" src="{% static 'script/main.js' %}"></script>
</body>

</html>

<!-- {% if request.user.is_authenticated %}
    <h2>{{request.user}}</h2>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'verifyEmail' %}">Register</a>
    {% endif %} -->