{% load static %}
<button class="icon nav-open-btn">
    <svg class="icon">
        <use href="{% static 'assets/icon-sprite.svg' %}#menu-hamburger" />
    </svg>
</button>

<!-- NAVBAR STARTS -->
<nav>
    <!-- class="visible" -->


    <!-- NAVBAR BODY STARTS -->
    <section class="nav-body">
        <!-- Header -->
        <header>
            <button class="icon nav-close-btn">
                <svg class="icon">
                    <use href="{% static 'assets/icon-sprite.svg' %}#chevron-left" />
                </svg>
            </button>
        </header>

        <!-- Navbar Content STARTS -->
        <section class="nav-content">
            <!-- User Info and Edit profile link -->
            <menu>
                <a class="menu-item {% if currentPage == 'edit-profile' %}active{% endif %} user-info" href="{% url 'edit-profile' %}">
                    <picture class="user-info-avatar"><img src="{{ request.user.avatar }}" alt="Your profile photo"
                            onerror="this.src=`{% static 'assets/illus/default-avatar.png' %}`"></picture>
                    <div>
                        <p class="user-info-full-name">{{request.user.name}}</p>
                        <b class="user-info-email subtitle gradient-primary">{{request.user}}</b>
                    </div>
                </a>
            </menu>

            <!-- Pages options -->
            <menu>
                <!-- Home -->
                <a href="{% url 'index' %}" class="menu-item {% if currentPage == 'home' %}active{% endif %}">
                    <svg class="icon">
                        <use href="{% static 'assets/icon-sprite.svg' %}#pages-home" />
                    </svg>
                    Home
                    <span class="badge"></span>
                </a>
                <!-- Bills -->
                <a href="#" class="menu-item {% if currentPage == 'bills' %}active{% endif %}">
                    <svg class="icon">
                        <use href="{% static 'assets/icon-sprite.svg' %}#pages-bills" />
                    </svg>
                    Bills
                    <span class="badge"></span>
                </a>
                <!-- Stocks -->
                <div class="menu-item {% if currentPage == 'stock-new' or currentPage == 'stock-history' %}active{% endif %} has-submenu">
                    <svg class="icon">
                        <use href="{% static 'assets/icon-sprite.svg' %}#pages-stocks" />
                    </svg>
                    Stocks
                    <span class="badge"></span>
                    <svg class="icon chevron">
                        <use href="{% static 'assets/icon-sprite.svg' %}#chevron-down" />
                    </svg>
                </div>
                <menu class="submenu">
                    <a href="#" class="menu-item {% if currentPage == 'stock-history' %}active{% endif %}">Stock History</a>
                    <a href="{% url 'stock-new' %}" class="menu-item {% if currentPage == 'stock-new' %}active{% endif %}">Add New Stocks</a>
                </menu>
                <!-- Insights -->
                <div class="menu-item {% if currentPage == 'insights-sales' or currentPage == 'insights-purchases' %}active{% endif %} has-submenu">
                    <svg class="icon">
                        <use href="{% static 'assets/icon-sprite.svg' %}#pages-insights" />
                    </svg>
                    Insights
                    <span class="badge"></span>
                    <svg class="icon chevron">
                        <use href="{% static 'assets/icon-sprite.svg' %}#chevron-down" />
                    </svg>
                </div>
                <menu class="submenu">
                    <a href="#" class="menu-item {% if currentPage == 'insights-sales' %}active{% endif %}">Sales</a>
                    <a href="#" class="menu-item {% if currentPage == 'insights-purchases' %}active{% endif %}">Purchases</a>
                </menu>
                <!-- Patients -->
                <a href="#" class="menu-item {% if currentPage == 'patients' %}active{% endif %}">
                    <svg class="icon">
                        <use href="{% static 'assets/icon-sprite.svg' %}#pages-patients" />
                    </svg>
                    Patients
                    <span class="badge"></span>
                </a>
            </menu>

        </section>
        <!-- Navbar Content ENDS -->

        <footer>
            <menu>
                <button class="icon negative">
                    <a href="{% url 'logout' %}">
                        <svg class="icon">
                            <use href="{% static 'assets/icon-sprite.svg' %}#pages-logout" />
                        </svg>
                    </a>
                </button>
                <a href="#" class="menu-item {% if currentPage == 'settings' %}active{% endif %}">
                    <svg class="icon">
                        <use href="{% static 'assets/icon-sprite.svg' %}#pages-settings" />
                    </svg>
                    Settings
                </a>
            </menu>
            <p class="fs-200">
                <a href="#" class="text-link">About Us</a>
                <b>·</b>
                <a href="#" class="text-link">Terms</a>
                <b>·</b>
                <a href="#" class="text-link">Privacy Policy</a>
            </p>
            <b class="fs-200">
                <a href="https://github.com/DineshGavai" class="text-link gradient-primary">Dinesh Gavai</a>
                <b>·</b>
                <a href="https://github.com/vedantmali05" class="text-link gradient-primary">Vedant Mali</a>
            </b>
        </footer>
    </section>
    <!-- NAVBAR BODY ENDS -->
</nav>
<!-- NAVBAR ENDS -->