{% load static %}
<div class="drop-down-menu" id="product_brand_list">
    <ul class="drop-down-menu-body">
        <p class="overline">Recent brands</p>
        <p class="not-found">Adding new brand.</p>

        {% for brand in brands %}

        <li>{{brand}}</li>

        {% endfor %}

        <!-- <li>MedPlus</li>
        <li>CareRx</li>
        <li>Lifecare</li>
        <li>Zenith</li>
        <li>Global Meds</li>
        <li>PharmaServe</li>
        <li>Wellbeing</li> -->
    </ul>
</div>