{% load static %}
<div class="datalist" id="product_type_list">
    <ul class="datalist-body">
        <p class="overline">Over-the-Counter (OTC) Medications</p>
        <ul>
            <li data-keywords="pain relief,advil,aspirin,aleve">Pain relievers: Paracetamol, Ibuprofen, Aspirin,
                Naproxen
            </li>
            <li data-keywords="pain relief,oxycontin,morphine">Pain relievers: Oxycontin, Morphines
            </li>
            <li data-keywords="sudafed,benadryl,robitussin,halls">Cold and flu medications: Decongestants,
                Antihistamines, Cough syrups, Lozenge </li>
            <li data-keywords="claritin,zyrtec,nasonex,eye drops">Allergy medications: Antihistamines, Nasal sprays, Eye
                drops </li>
            <li data-keywords="tums,miralax,imodium">Digestive aids: Antacids, Laxatives, Anti-diarrheals </li>
            <li data-keywords="hydrocortisone,calamine,moisturizers,sunscreen,acne">Skin care: Anti-itch creams,
                Moisturizers, Sunscreens, Acne treatment </li>
            <li data-keywords="multivitamins,vitamin C,calcium,fish oil">Vitamins and supplements: Multivitamins,
                Vitamin C, Calcium, Fish oil </li>
            <li data-keywords="melatonin,nyquil">Sleep aids: Melatonin, Sleep aids </li>
            <li data-keywords="eye drops,artificial tears">Eye care: Artificial tears </li>
            <li data-keywords="ear drops">Ear care: Ear drops </li>
        </ul>
        <p class="overline">Prescription Medications</p>
        <ul>
            <li data-keywords="penicillin,amoxicillin">Antibiotics</li>
            <li data-keywords="prozac,zoloft">Antidepressants</li>
            <li data-keywords="lisinopril,amlodipine">Anti-hypertensives</li>
            <li data-keywords="metformin,insulin">Diabetes medications</li>
            <li data-keywords="albuterol">Asthma inhalers</li>
            <li data-keywords="birth control,hormones">Hormonal medications</li>
            <li data-keywords="statins,lipitor">Cholesterol-lowering drugs</li>
            <li data-keywords="beta blockers,ace inhibitors">Heart medications</li>
        </ul>
        <p class="overline">Medical Supplies and First Aid</p>
        <ul>
            <li data-keywords="needles">Syringes</li>
            <li data-keywords="injection">Needles</li>
            <li data-keywords="bp monitor">Blood pressure monitors</li>
            <li data-keywords="oxygen">Pulse oximeters</li>
            <li data-keywords="asthma">Inhalers</li>
            <li data-keywords="breathing treatment">Nebulizers</li>
            <li data-keywords="diabetes testing">Diabetic supplies: Test strips, Lancets, Insulin pens </li>
            <li data-keywords="protection">Condoms</li>
            <li data-keywords="wound care">Bandages</li>
            <li data-keywords="sterile pads">Gauze</li>
            <li data-keywords="disinfectant">Antiseptic</li>
            <li data-keywords="cleaning">Hydrogen peroxide</li>
            <li data-keywords="disinfecting swabs">Alcohol swabs</li>
            <li data-keywords="cotton balls">Cotton balls</li>
            <li data-keywords="tweezers">Tweezers</li>
            <li data-keywords="fever">Thermometers</li>
            <li data-keywords="cold packs">Ice packs</li>
            <li data-keywords="burn treatment">Burn gels</li>
            <li data-keywords="allergy treatment">Antihistamines</li>
            <li data-keywords="eye wash">Eye wash</li>
        </ul>
        <p class="overline">Baby Care</p>
        <ul>
            <li data-keywords="nappies">Diapers: Disposable, Cloth </li>
            <li data-keywords="cleaning">Baby wipes</li>
            <li data-keywords="talc">Baby powder</li>
            <li data-keywords="moisturizer">Baby lotion</li>
            <li data-keywords="baby oil">Baby oil</li>
            <li data-keywords="shampoo">Baby shampoo</li>
            <li data-keywords="soap">Baby soap</li>
            <li data-keywords="feeding">Baby bottles</li>
            <li data-keywords="feeding nipple">Nipples</li>
            <li data-keywords="sterilizing">Sterilizers</li>
            <li data-keywords="soothers">Pacifiers</li>
            <li data-keywords="teething">Teethers</li>
            <li data-keywords="infant food">Baby food</li>
            <li data-keywords="baby formula">Formula</li>
            <li data-keywords="baby monitor">Baby monitors</li>
        </ul>
        <p class="overline">Self Care</p>
        <ul>
            <li data-keywords="hand sanitizer,antibacterial">Sanitizer</li>
            <li data-keywords="hair washing">Shampoo</li>
            <li data-keywords="hair care">Conditioner</li>
            <li data-keywords="hair color">Hair dyes</li>
            <li data-keywords="styling products">Hair styling products: Gels, Mousse, Sprays </li>
            <li data-keywords="skin care products">Skincare products: Cleansers, Toners, Moisturizers, Serums </li>
            <li data-keywords="cosmetics">Makeup</li>
            <li data-keywords="antiperspirant">Deodorants</li>
            <li data-keywords="fragrance">Perfumes</li>
            <li data-keywords="shaving tools">Shaving products: Razors, Shaving cream </li>
            <li data-keywords="hair removal products">Hair removal products: Wax, Depilatory creams </li>
            <li data-keywords="bath products">Bath products: Bubble bath, Bath salts, Shower gels </li>
            <li data-keywords="colgate,listerine,floss,toothbrush">Oral health: Toothpaste, Mouthwash, Dental floss,
                Toothbrushes </li>
            <li data-keywords="feminine products">Feminine hygiene products: Sanitary pads, Tampons, Panty liners </li>
            <li data-keywords="pregnancy test">Pregnancy tests</li>
            <li data-keywords="fertility test">Ovulation kits</li>
            <li data-keywords="intimacy products">Lubricants</li>
        </ul>
        <p class="overline">Other Products</p>
        <ul>
            <li data-keywords="sunblock,after sun lotion">Sun protection: Sunscreen, After-sun lotion </li>
            <li data-keywords="bug spray">Insect repellents</li>
            <li data-keywords="dietary supplements">Vitamins and supplements</li>
            <li data-keywords="slimming products">Weight loss products</li>
            <li data-keywords="hair growth products">Hair growth products</li>
            <li data-keywords="dental care">Oral care products: Mouth guards, Denture care </li>
            <li data-keywords="lens care">Contact lens solutions</li>
            <li data-keywords="hearing devices">Hearing aids</li>
            <li data-keywords="power cells">Batteries</li>
            <li data-keywords="gift certificates">Gift cards</li>
            <li data-keywords="reading material">Magazines</li>
            <li data-keywords="snack foods">Snacks</li>
            <li data-keywords="drinks">Beverages</li>
        </ul>
    </ul>
</div>