.scrim {
  background-color: hsl(var(--clr-scrim-400));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  --display: flex;
}

.dropdown,
.scrim {
  display: none;
}

.dropdown.active,
.scrim.active {
  display: var(--display) !important;
}

.mobile-pop-up {
  position: fixed;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  width: calc(100% - 1.6rem);
  background-color: hsl(var(--clr-neutral-150));
  z-index: 9999;
  overflow: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-list::-webkit-scrollbar-track {
  background-color: hsl(var(--clr-neutral-150));
}

/* /////////////////////////
  DROP DOWNS
///////////////////////// */

.dropdown {
  --display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.dropdown .controls {
  width: 100%;
  position: sticky;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown .controls.top {
  top: 0;
  padding: 0.8rem 0;
  background-color: hsl(var(--clr-neutral-150));
}

.dropdown .controls.bottom {
  bottom: 0;
  background: linear-gradient(0deg, hsl(var(--clr-neutral-200)), transparent);
  padding: 1.2rem 0.8rem;
}

.dropdown .controls.bottom button {
  box-shadow: 0px -2px 28px 16px hsl(var(--clr-white));
}

.dropdown .dropdown-list {
  padding-bottom: 3.6rem;
}

.dropdown .dropdown-list li {
  display: block;
  background-color: hsl(var(--clr-white));
  padding: 1.2rem;
  margin: auto;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  width: calc(100% - 1.6rem);
  font-size: var(--fs-300);
  cursor: pointer;
}

.dropdown .dropdown-list li:hover {
  background-color: hsl(var(--clr-neutral-200));
}

.dropdown .dropdown-list li:active {
  scale: 0.99;
}

.dropdown .dropdown-list li.selected {
  scale: 0.95;
}

.drag-handle {
  width: clamp(3.6rem, 100vw, 6rem);
  display: block;
  height: 0.4rem;
  border-radius: 0.8rem;
  background-color: hsl(var(--clr-neutral-300));
}

@media screen and (min-width: 600px) {
  .scrim {
    background-color: transparent;
  }

  .mobile-pop-up {
    border-radius: 1.6rem !important;
    --max-width: 60rem;
    max-width: var(--max-width);
  }

  .dropdown {
    padding: 0;
    padding-top: 0.8rem;
    transform: none;
    margin: 0;
  }

  .dropdown .dropdown-list {
    padding-bottom: 0;
  }
}
