form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-box {
  position: relative;
}

.input-box label {
  font-size: var(--fs-300);
  margin-bottom: 0.4rem;
  display: flex;
  position: absolute;
  color: hsl(var(--clr-neutral-800));
  background-color: hsl(var(--clr-white));
  left: 0.9rem;
  top: 1.3rem;
  padding: 0 0.4rem;
  z-index: 11;
}

.input-box.has-trail-item label {
  left: 3.7rem;
}

.input-box:has(input:focus) label,
.input-box.filled label {
  font-size: var(--fs-200);
  top: -0.8rem;
}

.input-frame.text-input {
  border: 1.5px solid hsl(var(--clr-neutral-400));
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: hsl(var(--clr-white));
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.2rem;
  padding: 0 1.2rem;
}

.input-box.has-trail-item .input-frame.text-input {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.input-frame.text-input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--fs-400);
  padding: 1rem 0;
}

.input-frame.text-input input:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.input-frame.text-input:has(input:hover) {
  border-color: hsl(var(--clr-neutral-600));
}

.input-frame.text-input:has(input:focus) {
  border-color: hsl(var(--clr-neutral-900));
}

.input-box p.help-text {
  margin-top: 0.4rem;
}

.input-box p.help-text span {
  color: hsl(var(--clr-neutral-600));
}

/* /////////////////////////
  CHECKBOX
 ///////////////////////// */

.input-box.checkbox label {
  position: static;
  font-size: var(--fs-200);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

.input-box.checkbox:has(input:focus) label,
.input-box.checkbox.filled label {
  font-size: var(--fs-300);
}

.input-box.checkbox .input-frame {
  position: relative;
  --size: 2rem;
  width: var(--size);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box.checkbox input {
  width: 100%;
  height: 100%;
  border: 1px solid hsl(var(--clr-neutral-800));
  border-radius: 0.2rem;
  outline: none;
  appearance: none;
  position: relative;
}

.input-box.checkbox input::before {
  content: "";
  position: absolute;
  width: calc(100% + 1.6rem);
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.input-box.checkbox input:checked {
  background-color: hsl(var(--clr-neutral-900));
}

.input-box.checkbox .checkmark {
  position: absolute;
  top: -50%;
  left: -50%;
  translate: 50% 50%;
  stroke: hsl(var(--clr-white));
  width: 100%;
  height: 100%;
}

/* /////////////////////////
  CUSTOM INPUTS
///////////////////////// */

.input-box.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.input-box.flex.currency,
.input-box.flex.percentage {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.input-box.flex.currency .input-frame.text-input,
.input-box.flex.percentage .input-frame.text-input {
  margin-left: auto;
  padding: 0;
  gap: 0.2rem;
}

.input-box.currency input,
.input-box.percentage input {
  font-size: var(--fs-600);
  text-align: right;
  min-width: 8ch;
  width: var(--length);
  max-width: 16ch;
  transition: 0s;
  font-weight: 500 !important;
}

.input-box.disabled.currency input,
.input-box.disabled.percentage input {
  min-width: 2ch;
}

.input-box.currency .left-elem,
.input-box.percentage .right-elem {
  font-size: var(--fs-300);
  align-items: end;
  display: flex;
}

.input-box.currency .left-elem svg.icon,
.input-box.percentage .right-elem svg.icon {
  --size: 1.4rem;
  stroke-width: 2;
}
