.main-sec.inventory-sec {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
}

/* /////////////////////////
    INVENTORY ITEM TILE
///////////////////////// */

.inventory-item.tile {
  border: 1px solid hsl(var(--clr-neutral-200));
  display: grid;
  grid-template-areas:
    "A A"
    "B C"
    "D D";
  column-gap: 0.8rem;
  border-radius: 0.2rem;
  max-width: 56rem;
  overflow: hidden;
  width: 100%;
  --lines: 2;
}

.inventory-item.tile > * {
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.inventory-item.tile .cell.id {
  grid-area: A;
}

.inventory-item.tile .col-left {
  grid-area: B;
  flex: 1 1 0;
  max-width: 28rem;
  overflow: hidden;
}

.inventory-item.tile .col-right {
  grid-area: C;
  width: fit-content;
  margin-left: auto;
}

.inventory-item.tile .base {
  grid-area: D;
  border-top: 1px solid hsl(var(--clr-neutral-150));
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.inventory-item.tile .base div {
  margin-left: auto;
  display: flex;
  gap: 0.4rem;
}

.inventory-item.tile .cell.info {
  margin-bottom: 0.8rem;
}

.inventory-item.tile .cell .generic-name {
  --lines: 2;
}

.inventory-item.tile .cell .brand {
  --lines: 1;
}

.inventory-item.tile .total-box .divider {
  width: 100%;
  min-width: 12rem;
  border-top: 1px dashed hsl(var(--clr-neutral-900));
  margin: 0.8rem 0;
}

.inventory-item.tile .cell.category button {
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  gap: 0.4rem;
  max-width: 100%;
  font-weight: 400;
}

.inventory-item.tile .cell.category button div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.inventory-item.tile .cell.prices {
  text-align: right;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inventory-item.tile .cell.prices .total-box {
  margin-top: 1.6rem;
}

/* /////////////////////////
  INVENTORY ITEM ROW
///////////////////////// */

.inventory-table .table-header,
.inventory-item.row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-width: 56rem;
  border-bottom: 1px solid hsl(var(--clr-neutral-200));
}

.inventory-item.row > * {
  padding: 1.6rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inventory-item.row .cell.checkbox input::before {
  width: calc(100% + 2rem);
}

.inventory-item.row .cell:is(.price, .available-quantity, .expiry) {
  align-items: end;
}

.inventory-item.row .cell:is(.price, .available-quantity, .expiry) p {
  white-space: nowrap;
  text-align: right;
}

.inventory-item.row .cell.info .id {
  margin-bottom: 0.8rem;
}

.inventory-item.row .cell.category button {
  width: 18rem !important;
}

/* /////////////////////////
  COMMON
///////////////////////// */

.inventory-item:is(.tile, .row) :is(.name, .generic-name, .brand) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  line-clamp: var(--lines);
  -webkit-box-orient: vertical;
}

.inventory-item:is(.tile, .row) .cell .name {
  font-size: var(--fs-400);
  text-overflow: ellipsis;
}

.inventory-item:is(.tile, .row) .cell.category button {
  border: 1px solid hsl(var(--clr-neutral-400));
}

.inventory-item:is(.tile, .row) .cell.category button div {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* /////////////////////////
  TABLE
///////////////////////// */

.inventory-table {
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
}

.inventory-table .table-header {
  position: sticky;
  top: 0;
  background-color: hsl(var(--clr-white));
  z-index: 11;
  border-bottom: 1px solid hsl(var(--clr-neutral-400));
}

.inventory-table .table-content {
  height: 100vh;
}

.inventory-table .table-header .cell {
  padding: 1.6rem 1.2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--fs-300);
}

:is(.inventory-table .table-header, .inventory-item.row)
  .cell:is(.checkbox, .expand) {
  width: fit-content;
}

:is(.inventory-table .table-header, .inventory-item.row) .cell.info {
  position: sticky;
  left: 0;
  width: 20rem;
  min-width: 20rem;
  background-color: hsl(var(--clr-white));
  z-index: 11;
}

:is(.inventory-table .table-header, .inventory-item.row) .cell.category {
  width: calc(18rem + (1.2rem * 2));
  min-width: calc(18rem + (1.2rem * 2));
}

:is(.inventory-table .table-header, .inventory-item.row)
  .cell:is(.price, .available-quantity, .expiry) {
  width: 16rem;
  min-width: 16rem;
}

.inventory-table .table-header .cell:is(.price, .available-quantity, .expiry) {
  text-align: right;
  justify-content: end;
}
