/* /////////////////////////
  Category List
///////////////////////// */

.categories-list {
  position: relative;
  min-height: 16rem;
  margin-top: 1.6rem;
  border-radius: 0.8rem;
}

.categories-list ul {
  margin-left: 1.4rem;
}

.categories-list li {
  display: block;
}

.categories-list li span {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: var(--fs-300);
}

.categories-list li .icon {
  stroke: hsl(var(--clr-neutral-700));
}

/* /////////////////////////
  BARCODE
///////////////////////// */

.barcode {
  padding: 1.6rem;
  margin: 1.6rem 0;
  border: 1px solid hsl(var(--clr-neutral-150));
  border-radius: 0.4rem;
  position: relative;
}

.barcode .img-box {
  border: 1.5px dashed hsl(var(--clr-neutral-150));
  border-radius: 0.4rem;
  height: 12rem;
}

.barcode .input-group {
  margin-top: 0.8rem;
  margin-bottom: 0;
}

/* /////////////////////////
  Batch Summary Card
///////////////////////// */

.batch-summary-card {
  background-color: hsl(var(--clr-white));
  box-shadow: var(--shdw-soft-tile);
  border-radius: 0.6rem;
  padding: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "A A"
    "B C";
  column-gap: 1.6rem;
  width: 100%;
  min-width: 22rem;
  max-width: 38rem;
}

.batch-summary-card .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: A;
}

.batch-summary-card .col-left {
  grid-area: B;
}

.batch-summary-card .col-right {
  grid-area: C;
}

.batch-summary-card .total,
.batch-summary-card .header p {
  color: hsl(var(--clr-neutral-500));
}

.batch-summary-card .stock-hierarchy {
  margin: 1.6rem 0;
}

.batch-summary-card .stock-hierarchy .level {
  margin-top: 0.8rem;
}

.batch-summary-card .stock-hierarchy .level .level {
  border-left: 1.5px dashed hsl(var(--clr-neutral-400));
  padding-left: 2.4rem;
}

.batch-summary-card .stock-hierarchy .level span {
  font-size: var(--fs-300);
}

.batch-summary-card .total span {
  font-size: var(--fs-300);
  font-weight: 500;
}

.batch-summary-card .dates {
  padding: 0.8rem 0;
}

.batch-summary-card .dates p {
  color: hsl(var(--clr-neutral-500));
  margin-bottom: 1.2rem;
}

.batch-summary-card .dates p span {
  font-size: var(--fs-300);
  display: block;
  margin-top: 0.2rem;
}

/* /////////////////////////
  BATCH HISTORY TILE
///////////////////////// */

.batch-tile {
  background-color: hsl(var(--clr-white));
  padding: 1.6rem;
  margin-bottom: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: var(--shdw-soft-tile);
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  row-gap: 1.6rem;
  column-gap: 3.8rem;
  grid-template-areas:
    "A A A"
    "B B B"
    "C C C"
    "D D D";
}

@media screen and (min-width: 650px) {
  .batch-tile {
    grid-template-areas:
      "A A A"
      "B B C"
      "D D D";
  }
}

@media screen and (min-width: 600px) {
  .batch-tile {
    grid-template-areas:
      "A A A"
      "B C D";
  }
}

.batch-tile header {
  grid-area: A;
}

.batch-tile .packaging-wrapper {
  grid-area: B;
}

.batch-tile .pricing-wrapper {
  grid-area: C;
}

.batch-tile .date-wrapper {
  grid-area: D;
}

.batch-tile .input-box.batch-id {
  margin: 0;
}

.batch-tile
  .input-box.batch-id
  :is(.input-frame.text-input input, .input-frame.text-input, label) {
  padding: 0;
  gap: 0;
  margin: 0;
}

.batch-tile .input-box.batch-id input {
  width: var(--length);
  min-width: 6ch;
  max-width: 32ch;
}

.batch-tile h3 {
  font-size: var(--fs-300);
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.batch-tile .packaging-hierarchy {
  background-color: hsl(var(--clr-neutral-100));
  border-radius: 0.4rem;
  padding: 0.4rem;
  margin-bottom: 0.8rem;
}

.batch-tile .packaging-hierarchy .add-level-btn {
  max-width: calc(100% - var(--max-width) - 1.6rem);
  width: 100%;
  margin-bottom: 0.4rem;
}

.batch-tile .packaging-hierarchy .hierarchy-level {
  margin: 0;
  margin-left: calc(var(--indentation-level) * 1.6rem);
  max-width: calc(100% - var(--max-width) - 1.6rem);
  flex-wrap: nowrap;
  align-items: center;
  background-color: hsl(var(--clr-white));
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  border: 1px solid hsl(var(--clr-neutral-150));
}

.batch-tile .hierarchy-level .input-box {
  margin: 0;
}

.batch-tile .hierarchy-level .input-box.input-value {
  width: var(--length);
}

.batch-tile .hierarchy-level .input-frame.text-input {
  border: none;
  background-color: hsl(var(--clr-neutral-100));
}

.batch-tile .hierarchy-level .input-frame.text-input input {
  background-color: transparent;
}

.batch-tile .hierarchy-level button.icon {
  max-width: var(--size);
}

.batch-tile .hierarchy-level .remove-level-btn {
  border: none;
}
